<div id="proyectos" class="misDivs">
<table border="0">
    <tr>
        <td>
            <h3>Proyectos</h3>
        </td>
        <td width="20%">
        </td>
        <td id="editPy" width="4%" valign="top">
            <img id="miEditPy" src="img/edit.png" width="100%" height="100%" alt="editar">
            <!-- onmouseover="cambiarEditPy2()" onmouseout="cambiarEditPy()">-->
        </td>
        <td id="cancelPy" width="4%" valign="top">
            <img id="miXPy" src="img/cancel.png" width="100%" height="100%" alt="cancelar">
            <!-- onmouseover="cambiarXPy2()" onmouseout="cambiarXPy()">-->
        </td>
    </tr>
</table>

<table border="0" class="misTablas">
    <tr>
        <th>
            Proyecto
        </th>
    </tr>
    <tr colspan="3">
        <td>
            bla bla bla
        </td>
    </tr>
</table>
</div>
