<div id="laboral" class="misDivs">
<table border="0">
    <tr>
        <td>
            <h3>Experiencia Laboral</h3>
        </td>
        <td width="20%">
        </td>
        <td id="editLab" width="4%" valign="top">
            <img id="miEditLab" src="img/edit.png" width="100%" height="100%" alt="editar">
            <!-- onmouseover="cambiarEditLab2()" onmouseout="cambiarEditLab()">-->
        </td>
        <td id="cancelLab" width="4%" valign="top">
            <img id="miXLab" src="img/cancel.png" width="100%" height="100%" alt="cancelar">
            <!-- onmouseover="cambiarXLab2()" onmouseout="cambiarXLab()">-->
        </td>
    </tr>
</table>

<table border="0" class="misTablas">
    <tr>
        <th>
            Ministerio de Economia
        </th>
    </tr>
    <tr colspan="3">
        <td>
            bla bla bla
        </td>
    </tr>
    <tr>
        <th>
            Direcci&oacute;n Nacional de Migraciones (Moreno)
        </th>
    </tr>
    <tr>
        <td>
            bla bla bla
        </td>
    </tr>
    <tr>
        <th>
            Ministerio de Economia
        </th>
    </tr>
    <tr>
        <td>
            bla bla bla
        </td>
    </tr>
</table>
</div>
