<div id="miEncabezado" class="misDivs">
<header>
 <table border="0" id="miTabla" width="100%">
     <tr>
         <td width="4%">
             <a href="https://www.facebook.com/Tobias.Te.Amo" target="_blank">
                 <img id="miFB" src="img/fb.png" width="100%" height="100%" alt="FB">
                 <!-- onmouseover="cambiarFB2()" onmouseout="cambiarFB()">-->
             </a>
         </td>
         <td width="4%">
             <a href="https://ar.pinterest.com/silvanaborsani" target="_blank">
                 <img id="miPin" src="img/pin.png" width="100%" height="100%" alt="Pint">
                 <!--onmouseover="cambiarPin2()" onmouseout="cambiarPin()">-->
             </a>
         </td>
         <td width="4%">
             <a href="https://www.linkedin.com/in/licspb" target="_blank">
                 <img id="miLi" src="img/li.png" width="100%" height="100%" alt="LIn">
                 <!-- onmouseover="cambiarLi2()" onmouseout="cambiarLi()">-->
             </a>
         </td>
         <td width="4%">
             <a href="https://t.me/51lv4n4_ok" target="_blank">
                 <img id="miTg" src="img/tg.png" width="100%" height="100%" alt="Tg">
                 <!-- onmouseover="cambiarTg2()" onmouseout="cambiarTg()">-->
             </a>
         </td>
         <td width="4%">
             <a href="mailto:licSilBorsa@yahoo.com.ar" target="_blank">
                 <img id="miMail" src="img/correo.png" width="100%" height="100%" alt="eMail">
                 <!-- onmouseover="cambiarMail2()" onmouseout="cambiarMail()">-->
             </a>
         </td>
         <td> </td>
         <td width="4%">
             <img id="miEdit" src="img/edit.png" width="100%" height="100%" alt="editar">
             <!-- onmouseover="cambiarEdit2()" onmouseout="cambiarEdit()">-->
         </td>
         <td width="4%">
             <img id="miX" src="img/cancel.png" width="100%" height="100%" alt="cancelar">
             <!-- onmouseover="cambiarX2()" onmouseout="cambiarX()">-->
         </td>
     </tr>
 </table>
</header>
</div>