<div id="habilidades" class="misDivs">
<table border="0">
    <tr>
        <td>
            <h3>Hard & Soft Skills</h3>
        </td>
        <td width="20%">
        </td>
        <td id="editHab" width="4%" valign="top">
            <img id="miEditHab" src="img/edit.png" width="100%" height="100%" alt="editar">
            <!-- onmouseover="cambiarEditHab2()" onmouseout="cambiarEditHab()">-->
        </td>
        <td id="cancelHab" width="4%" valign="top">
            <img id="miXHab" src="img/cancel.png" width="100%" height="100%" alt="cancelar">
            <!-- onmouseover="cambiarXHab2()" onmouseout="cambiarXHab()">-->
        </td>
    </tr>
</table>

<table border="0" class="misTablas">
    <tr>
        <th>
            habilidades duras y blandas en modo porcentaje, por ej. idiomas
        </th>
    </tr>
    <tr colspan="3">
        <td>
            bla bla bla
        </td>
    </tr>
</table>
</div>