<div id="estudios" class="misDivs">
<table border="0">
    <tr>
        <td>
            <h3>Educaci&oacute;n</h3>
        </td>
        <td width="20%">
        </td>
        <td id="editEdu" width="4%" valign="top">
            <img id="miEditEdu" src="img/edit.png" width="100%" height="100%" alt="editar">
            <!-- onmouseover="cambiarEditEdu2()" onmouseout="cambiarEditEdu()">-->
        </td>
        <td id="cancelEdu" width="4%" valign="top">
            <img id="miXEdu" src="img/cancel.png" width="100%" height="100%" alt="cancelar">
            <!-- onmouseover="cambiarXEdu2()" onmouseout="cambiarXEdu()"> -->
        </td>
    </tr>
</table>

<table border="0" class="misTablas">
    <tr>
        <th>
            Universidad Aconcagua
        </th>
    </tr>
    <tr colspan="3">
        <td>
            bla bla bla
        </td>
    </tr>
    <tr>
        <th>
            Universidad Abierta Interamericana (UAI)
        </th>
    </tr>
    <tr>
        <td>
            bla bla bla
        </td>
    </tr>
    <tr>
        <th>
            Instituto de Ciencias Forenses (ICF)
        </th>
    </tr>
    <tr>
        <td>
            bla bla bla
        </td>
    </tr>
    <tr>
        <th>
            Instituto Universitario de la Polic&iacute;a Federal (IUPFA)
        </th>
    </tr>
    <tr>
        <td>
            bla bla bla
        </td>
    </tr>
</table>
</div>
