<div id="logos" class="misLogos">
<header style="background-color: rgb(29, 16, 148); border-radius: 0px 10px 10px 0px; padding: 0px;">
     <img src="img/logo_organismos.png" usemap="#image-map">
     <map name="image-map">
         <area target="_blank" alt="Argentina Programa" title="Argentina Programa" href="http://argentinaprograma.inti.gob.ar" coords="126,69,1,4" shape="rect">
         <area target="_blank" alt="INTI" title="INTI" href="http://www.inti.gob.ar" coords="127,4,235,69" shape="rect">
         <area target="_blank" alt="Min. de Economia" title="Min. de Economia" href="http:///www.mecon.gob.ar" coords="235,4,359,69" shape="rect">
     </map>
     <font color="white"> Y aqui mi logo</font>
</header>
</div>