<div id="pie" class="misDivs">
<footer>
     <table border="0" id="miTabla" width="100%">
         <tr>
            <td width="70%">
                este es mi pie de pagina
            </td>
             <td> </td>
             <td width="4%">
                 <img id="miEditPie" src="img/edit.png" width="100%"  height="100%" alt="editar">
                 <!-- onmouseover="cambiarEditPie2()" onmouseout="cambiarEditPie()">-->
             </td>
             <td width="4%">
                 <img id="miXPie" src="img/cancel.png" width="100%" height="100%" alt="cancelar">
                 <!-- onmouseover="cambiarXPie2()" onmouseout="cambiarXPie()">-->
             </td>
         </tr>
     </table>
</footer>
</div>