<div id="misDatos" class="misDivs">
<table border="0" id="miInfo">
    <tr height="40%">
        <td id="miFoto" width="15%" rowspan="2">
            <img src="img/yo.jpg" id="yo" alt="Silvana Borsani" width="70%">
            <!-- onmouseover="cambiarFoto2()" onmouseout="cambiarFoto()">-->
        </td>
        <td id="misDatos" valign="top">
            <h1 id="miNombre">Silvana Paula Borsani</h1>
            <h3 id="miTitulo">Licenciada en Criminalistica</h3>
        </td>
        <td id="editInfo" width="4%" valign="top">
            <img id="miEditInfo" src="img/edit.png" width="100%" height="100%" alt="editar">
            <!-- onmouseover="cambiarEditInfo2()" onmouseout="cambiarEditInfo()">-->
        </td>
        <td id="cancelInfo" width="4%" valign="top">
            <img id="miXInfo" src="img/cancel.png" width="100%" height="100%" alt="cancelar">
            <!-- onmouseover="cambiarXInfo2()" onmouseout="cambiarXInfo()">-->
        </td>
    </tr>
    <tr>
        <td id="miInfo" colspan="3">
            <p><u>Fecha de Nacimiento:</u> 23/09/1972</p>
            <p><u>Lugar de Nacimiento:</u> Capital Federal (actual CABA).</p>
            <p><u>Lugar de Residencia:</u> Moreno, Buenos Aires.</p>
            <p><u>Celular de contacto:</u> +5491155557777</p>
            <p><u>eMail Particular:</u> silvanaborsani&#64;gmail.com</p>
        </td>
    </tr>
</table>  
</div>
